:root {
  --color-primary: #2F9427;
  --color-secondary: #CE0406;
  --color-terceary: #257320;
  --color-gray: #D9D9D9;
  --color-black: #000;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--color-gray);
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-options {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.login-options a {
  text-decoration: none;
  color: var(--color-secondary);
  font-weight: bold;
  padding: 10px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease-in-out;
}

.login-options a:hover {
  border-bottom: 2px solid var(--color-secondary);
}
