<header>
    <img src="assets/main-logo.svg" alt="Logo" id="main-logo">
    <nav>
        <a href="/">Inicio</a>
        <a href="#" >Sportz</a>
        <a href="#" id="feedbackLink">Feedbacks</a>
        <a href="#">Sobre nós</a>
    </nav> 
    
    <a href="/profile" class="profile-button" id="profileButton">
        <div class="profile-image"></div>
        <div class="profile-name">SadBart</div>
    </a>
</header>