<footer>
    <div class="footer-container">
        <div class="contact-info">
            <h3>Entre em Contato</h3>
            <p>Email: SportSkillz@empresa.com</p>
            <p>Telefone: (85) 4002-8922</p>
            <p>Endereço: Av. Treze de Maio, 2081</p>
        </div>
        <div class="quick-links">
            <h3>Links Rápidos</h3>
            <ul>
                <li><a href="#">Sobre Nós</a></li>
                <li><a href="#">Serviços</a></li>
            </ul>
        </div>
        <div class="social-media">
            <h3>Redes Sociais</h3>
            <ul>
                <li><a href="#" target="_blank">Facebook</a></li>
                <li><a href="#" target="_blank">Twitter</a></li>
                <li><a href="#" target="_blank">Instagram</a></li>
            </ul>
        </div>
    </div>
</footer>
