<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="/stylesheets/pages/homepage.css">
</head>
<body>
    <header>
        <img src="assets/main-logo.svg" alt="Logo" id="main-logo">
        <nav>
            <a href="#">Inicio</a>
            <a href="#">Sportz</a>
            <a href="#">Feedbacks</a>
            <a href="#">Sobre nós</a>
        </nav> 
        
        <a href="#" class="profile-button" id="profileButton">
            <div class="profile-image"></div>
            <div class="profile-name">SadBart</div>
        </a>
    </header>
    <section class="banner">
        <div class="banner-content">
            <img src="assets/main-logo.svg" alt="Logo" id="banner-logo">
            <p>O lugar perfeito para você aprender</p>
            <a href="#" class="start-button">Comece</a>
        </div>
        <div class="square-image">
            <img src="assets/quadra-em-desfoque.png" alt="Imagem Quadrada">
        </div>
    </section>

    <section class="card-container">
        <div class="card">Curso 1</div>
        <div class="card">Curso 2</div>
        <div class="card">Curso 3</div>
        <!-- Adicione mais cards conforme necessário -->
    </section>

    <section class="feedbacks">
        <h2>Feedbacks dos Alunos</h2>
        <!-- Adicione os feedbacks aqui -->
    </section>

</body>
</html>
