
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In - Spotify2</title>
    <link rel="stylesheet" href="/stylesheets/login/signin.css">
    <script src="https://kit.fontawesome.com/e25f884761.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="left-section">
        <div id="signin-container">
            <h2>Sign In</h2>
            <form>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Enter your email">

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your password">

                <button type="submit">Sign In</button>
            </form>

            <p id="forgot-password">Forgot your password?</p>
        </div>
    </div>

    <div class="right-section">
        <img src="../assets/login/rigth-image.jpg" alt="Image">
    </div>
</body>
</html>
